pom.xml.asc
package-lock.json

*.class
.lein-*
.nrepl-port
.hgignore
*.iml
*.pid
*.log


target/
classes/
node_modules/
.hg/
.idea/

resources/public/config.json
server/back_config.json
resources/public/js/compiled/
